*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: capitalize; 
    font-weight: bold;
}

/*=== style content ====*/

.content{
    display: flex;
    justify-content: center;
    margin: .5rem auto;
    width: 80%;
    min-width: min-content;
    background-color: rgb(92, 91, 91);
    box-shadow: 1px 3px 4px rgb(122, 122, 122) inset;
}
       /*=== ici cela style tous les h1 ====*/
h4{
    background:linear-gradient(0deg,rgba(6, 154, 223, 0),rgba(0, 122, 133, 0.082));
    text-align: center;
    margin: 1rem 0;
    border-radius: .5rem;
    box-shadow: 1px 3px 7px black;
    text-transform: uppercase;
    font-size: 1.4rem;
}
.cote__left-contacts h4,.cote__left-informatique h4,.cote__left-langues h4{
    padding: 0 3rem;
}

       /*=== finir avec style tous les h1 ====*/

        /* === sytle tous les li de la page ==*/
li{
    list-style-type: square;
}
       /* === finir de sytler tous les li de la page ==*/     



/*=== FIN DE style content ====*/



/*=== style cote gauche ====*/

.cote__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: .5rem 1rem 5rem 1rem ;
    background:linear-gradient(0deg,rgba(1, 78, 114, 0.808),rgba(2, 126, 138, 0.603));
    color: whitesmoke;
    
}

.cote__left-img{
    background:url("../images/POTRAIT.png");
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 1rem;
   
}
.cote__left-contacts *{
    margin: 1rem 0;
}
.cote__left-email a{
    text-decoration: none;
    text-transform: lowercase;
    color: whitesmoke;
}
.cote__left-informatique p{
    text-align: left;
}

.cote__left-informatique .barre{
    width: 100%;
    height: 10px;
    background: rgb(134, 134, 134);
    border-radius: 10px;
}
.excel,.word,.powerpoint{
    width: 80%;
    height: 10px;
    background:linear-gradient(0deg,rgb(6, 154, 223),rgb(0, 122, 133));
    border-radius: 10px;
}

.photoshop,.html__css{
    width: 90%;
    height: 10px;
    background:linear-gradient(0deg,rgb(6, 154, 223),rgb(0, 122, 133));
    border-radius: 10px;
}
.cote__left-langues span{
    font-weight: bold;
}
.cote__left-langues p:not(:first-child){
    margin-top: 1rem;
}


/*===  FIN  style cote gauche ====*/


/*=== style cote droit ====*/

.cote__right{
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   padding: 3rem;
   background: whitesmoke ;
   
}
.cote__right-experience__professionnelle *{
    margin-top: .5rem;
    
}

.cote__right-experience__professionnelle p,.cote__right-experience__professionnelle li{
    font-size: 1.1rem;
}
p a{
    color: black;
    cursor: none;
}
.cote__right-formation__academique *{
    margin-top: 1rem;
    font-weight: bold;
}
.cote__right-formation__academique p,.cote__right-formation__academique li{
    font-size: 1.1rem;
}
.cote__right-autres__atouts *{
    margin-top: 1rem;
    font-weight: bold;
}


/*=== FINN style cote droit ====*/


/*=== STYLE phone ===*/

@media screen and (max-width:500px) {

    .content{
        display:flex;
        flex-flow: column;
        place-items: center;
        min-width: min-content;
        margin: 0 auto;
        width: 100%;  
    }
   .cote__left{
       width: 100%;
       padding: 1rem;
       margin-bottom: 1rem;
       
   }
   .cote__left-img{
   border-radius: 100%;
   }
   h4,h2,h3{
    font-size: 1rem;
}
    
    
    
}
/*=== FIN POUR LE STYLE phone ===*/


/*=== STYLE POUR TABLET ===*/

@media screen and (min-width:501px) and (max-width:768px){
    .content{
        width: 100%;
        display: block;
        padding:0;
        margin: 0;
    }
    .cote__left{
        float: none;
        margin-bottom: 1rem;
        min-height: 100vh;
        
    }
    .cote__left-img{
        width: 100%;
        height: 500px;
        margin: 0;
        background-attachment: fixed;
       
    }
   
   

    
}

/*===  FINIR AVEC LE  STYLE TABLET ===*/
